.full-height{
    min-height:100vh;
}
.center-vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   


.center-only-vertical{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}  

/* .glass-effect:before{
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}
.glass-effect{
    background: inherit;
}
.glass-effect:before{
    background: inherit;
} */

.glass-effect {
    background-color:rgba(14, 195, 219, 0.6);  
    backdrop-filter: blur(10px);
}

.glass-effect-dark{
    background-color:rgba(1, 27, 31, 0.6);  
    backdrop-filter: blur(2px);
}

.glow-border{
    /* border: #d910eb solid 2px; */
    border: #fff solid 1px;
    box-shadow: inset 60px 0 120px #f0f,  /* left magenta */
    inset -60px 0 120px #0ff
}

.reg{
    border: rgba(255, 255, 255, 0) solid 1px;
    box-shadow: inset 10px 0 20px #f0f,  /* left magenta */
    inset -10px 0 20px #0ff;
}

.custom-bg{
    background: url('../../public/ss.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.hover-expand{
    transition: all cubic-bezier(0, 0.7, 0.21, 0.93) 500ms;
}
.hover-expand:hover{
    transform: scale(1.1);
}

.float-animation{
    animation: floating 3s ease-in-out infinite;
}

.text-bold{
    font-weight: 700;
}

.single-event-title{
    border-bottom: 3px solid rgb(92, 88, 88);
}


.hover-effect:hover{
    box-shadow: 0 5px 15px 0 rgba(250, 250, 250, 0.6);
    transition: all cubic-bezier(0, 0.5, 0.21, 0.93) 500ms;
    transform: scale(1.08);
}

@keyframes floating{
    0% {
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
        transform: translateY(0px);
    }
    50% {
        box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.6);
        transform: translateY(-10px);
    }
    100% {
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
        transform: translateY(0px);
    }
}

.social-highlight:hover{
    /* fill:#11e6db; */
    transform: scale(1.1);
    transition: all 500ms ease-in-out;
    stroke: #eb6010;
}

/* .social-highlight:hover{
    filter: blur(10px)
} */

.contact-links{ 
    width:'fit-content';
    display:'flex';
    column-gap:'5px'; 
    text-decoration:'none'; 
}

.mapouter{position:relative;text-align:right;height:500px;width:95% ;display: flex;margin: 0;}

.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:95%;margin: auto;}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:90%;
    width:90%;
    position:absolute;
    display: flex;
    margin: auto;
}
